fastapi
uvicorn[standard]
sqlalchemy
minio
pymysql
alembic 
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
SQLAlchemy~=2.0.42
pydantic~=2.11.7
fastapi~=0.116.1
h11~=0.16.0
pip~=25.2
attrs~=25.3.0
PySocks~=1.7.1
cryptography~=45.0.5
filelock~=3.18.0
sniffio~=1.3.1
trio~=0.30.0
outcome~=1.3.0.post0
typing_extensions~=4.14.1
numpy~=2.2.5
charset-normalizer~=3.4.2
setuptools~=70.3.0
pytz~=2025.2
cffi~=1.17.1
starlette~=0.47.2
email_validator~=2.2.0
pydantic_core~=2.33.2
requests~=2.32.0
websockets~=15.0.1
anyio~=4.9.0
orjson~=3.11.0
click~=8.2.1
uvicorn~=0.35.0
wsproto~=1.2.0
greenlet~=3.2.3
annotated-types~=0.7.0
rich~=14.0.0
PyYAML~=6.0.2
Jinja2~=3.1.6
httpx~=0.28.1
PyMySQL~=1.1.1